<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        #tarea {
            border-radius: 5px;
            border-color: rgb(131, 159, 160);
            border-width: 2px;
        }

        #tarea:hover {
            background-color: rgb(254, 225, 255);
            
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="font-size: 200%;">TextUtils</h1>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page">Home</a>
                    <a class="nav-link">Result</a>
                </div>
            </div>
        </div>
    </nav>
    <div >
        <br><br>
        {%load static%}
        <div class="container">
            <!-- <img src="https://source.unsplash.com/random" alt="pic" srcset=""> -->
            <h1 style="font-style: italic;">Enter your text here..</h1>
            <form action="/result" method="POST">{% csrf_token %}
                <textarea name="text" id="tarea" cols="150" rows="8"></textarea><br><br>
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" name="punc" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1">punctuation Remover</label>
                  
                    <input type="checkbox" name="newline" class="btn-check" id="btncheck2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck2">Newline Remover</label>
                  
                    <input type="checkbox" name="comma" class="btn-check" id="btncheck3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck3">Newline to Comma</label>
                  </div><br><br>
                  <button type="submit" class="btn btn-secondary" style="width: 150px;"><h2>Submit</h2></button>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

</html>