{% extends 'shop/basic.html' %}
{% block title %} Product {% endblock %}
{% block main %}
<div class="container pb-4">
    <div class="row">
        <div class="col-md-7 ">
            <div class="row">
                <img src="/media/{{product.image}}" style="height: 400px; width: 575px; margin-top: 22px;">
            </div>
        </div>  
        <div class="col-md-5 mt-5 divpr">
            <h2><b>{{product.name}}</b></h2>
            <h4><b>Rs {{product.price}}</b></h4><br>
            <p><b>{{product.description}}</b></p>
            <button class="btn btn-primary cart" style="margin-top: 175px;">Add to cart</button>
        </div>
    </div>
</div>
    

{%endblock%}
{% block js %}
<script>
    {% comment %} let noOfCartItems=0;
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    }
    else {
      var cart = JSON.parse(localStorage.getItem('cart'))
      
      for(let i in Object.values(cart)){
        noOfCartItems+= Object.values(cart)[i];
      }
      document.getElementById('cartbtn').innerHTML=noOfCartItems;
    }
    // addtocart=document.getElementsByClassName('cart')
    $('.cart').click(function () {
      let idstr = this.id.toString();
      if (cart[idstr] != undefined) {
        cart[idstr ]+= 1;
      }
      else {
        cart[idstr] = 1;
      }
      localStorage.setItem('cart',JSON.stringify(cart));
      let val=document.getElementById('cartbtn').innerHTML;
      document.getElementById('cartbtn').innerHTML=Number(val)+1;
    }) {% endcomment %}


  let noOfCartItems=0;
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    var cart = JSON.parse(localStorage.getItem('cart'))
    updatecart(cart)
  }
  $('.divpr').on('click','button.cart',function () {
    let idstr = this.id.toString();
    if (cart[idstr] != undefined) {
      cart[idstr ]+= 1;
    }
    else {
      cart[idstr] = 1;
    }
    localStorage.setItem('cart',JSON.stringify(cart));
    let val=document.getElementById('cartbtn').innerHTML;
    document.getElementById('cartbtn').innerHTML=Number(val)+1;
    updatecart(cart)
  })

  function updatepop(){
    let cart=JSON.parse(localStorage.getItem('cart'))
    let html='<div id="popdiv">'
    for (let i in cart){
      if(cart[i]!=0){
        html+='<b>'+document.getElementById('name'+i).innerHTML+'</b>'+'  Qty :'+cart[i] +'<br>'
      }    
    }
    
    html+='</div>'
    html+='<button class="btn">checkout</button>'

    $(document).ready(function(){
      $("#popcart").popover()
      document.getElementById('popcart').setAttribute('data-bs-content',html);
    
    });
  }
  function updatecart(cart){
    if (cart){
      document.getElementById('checkout').setAttribute('style','display:block;')
      for(let item in cart){
        document.getElementById('div'+item).innerHTML='<button class="btn btn-primary minus mx-1"'+' id="minus'+item+'"'+' style="height:40px;width:40px">-</button>'+'<span id="val'+item+'">'+cart[item]+'</span>'+'<button class="btn btn-primary plus mx-1"'+' id="plus'+item+'"'+'style="height:40px;width:40px">+</button>'
      } 
    }if(($.isEmptyObject(cart)) || cart==null){document.getElementById('checkout').setAttribute('style','display:none;')}
    
    localStorage.setItem('cart',JSON.stringify(cart))
    noOfCartItems=0
    for(let i in Object.values(cart)){
      noOfCartItems+= Object.values(cart)[i];
    }
    document.getElementById('cartbtn').innerHTML=noOfCartItems
    updatepop()
  }
  $('.divpr').on('click','button.minus',function(){
    let a=this.id.slice(5,)
    cart[a]-=1
    cart[a]=Math.max(0,cart[a])
    document.getElementById('val'+a).innerHTML=cart[a]
    updatecart(cart)
    })
  $('.divpr').on('click','button.plus',function(){
    let a=this.id.slice(4,)
    cart[a]+=1
    document.getElementById('val'+a).innerHTML=cart[a]
    updatecart(cart)
  })
  $('#clearcart').click(function(){
    cart=JSON.parse(localStorage.getItem('cart'))
    for (i in cart){
      document.getElementById('div'+i).innerHTML='<button id="'+i+'" class="btn btn-primary cart mx-1 my-1">Add to cart</button>'
    }
    updatecart(cart={}) 
    localStorage.removeItem('names')
  })

  $('#checkout').click(function(){
    let names={}
    for(i in cart){
      names[i]=document.getElementById(`name${i}`).innerHTML
    }
    localStorage.setItem('names',JSON.stringify(names))
  })
  </script>
{% endblock %}


